body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

form {
  margin: 20px auto;
  width: 80%;
}

form label {
  display: block;
  margin: 5px 0;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #00796b;
}
